html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #efefef;
}
.container {
    width: 600px ;margin: 0 auto;
} 
section article {
    transition: box-shadow 0.3s ease ;
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem ;
    cursor: pointer;
}
section article:hover { 
    box-shadow: 0 0.1rem 0.5 rgba(0,0,0,0.4);
}